
/*

#parrafo{
	color: green!important;
	font-size: 20px!important;
}

#parrafo{
	color: blue;
	font-size: 50px!important;
}

p{
	color: red;
}

*{
	margin: 0px;
	padding: 0px;
}

#box{
	background-color: red;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;

}

#box1{
	background-color: violet;
	width: 200px;
	height: 200px;
	position: absolute;
	top:20px;
	left: 20px;
	z-index: 0;
	opacity: 0.8;

	
}

#box2{
	background-color: black;
	width: 200px;
	height: 200px;
	position: absolute;
	top:40px;
	left: 40px;
	z-index: 2;
	color: white;
	opacity: 0.8;
	font-weight: bold;

	
}*/

#btn{
	width: 150px;
	height: 150px;
	background-color: orange;
	color: black;
	display: inline-block;
	border-radius: 50px;
	text-align: center;
	font-size:32px;
	line-height: 150px;

}

